<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>메인페이지</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
</head>
<body>
<fieldset>
	<form id="search">
		<input type="Text" name="keyword" placeholder="검색어입력" required>
		<input type="submit" value="검색">
	</form>
</fieldset>
<div id = "result">
	<table cellspacing="0" cellpadding="0" border="1" id="resultTable">
	<thead>
        <tr>
            <th>
                <div class="rank">
                    <strong><span class="blind">순위</span></strong>
                </div>
            </th>
            <th>
                <div class="team">
                    <strong><span class="blind">팀</span></strong>
                </div>
            </th>
            <th>
                <div class="gcnt_s">
                   	<strong id="regularTeamRecordList_gameCount"><span class="blind">경기수</span></strong>
                </div>
            </th>
            <th>
                <div class="wpnt">
                    <strong id="regularTeamRecordList_won"><span class="blind">승</span></strong>
                </div>
            </th>
            <th>
                <div class="lpnt">
                    <strong id="regularTeamRecordList_lost"><span class="blind">패</span></strong>
                </div>
            </th>
            <th>
                <div class="dpnt">
                    <strong id="regularTeamRecordList_drawn"><span class="blind">무</span></strong>
                </div>
            </th>
            <th>
                <div class="wnrt">
                    
                        <strong class="sort"><span id="regularTeamRecordList_wra" class="blind">승률</span></strong>
                   
                </div>
            </th>
            <th>
                <div class="wlpnt">
                    
                        <strong><span id="regularTeamRecordList_winDiff" class="blind">게임차</span></strong>
                   
                </div>
            </th>
            <th>
                <div class="streak">
                   
                        <strong><span id="regularTeamRecordList_streak" class="blind">연속</span></strong>
                    
                </div>
            </th>
            <th>
                <div class="onbase">
                    
                        <strong><span id="regularTeamRecordList_bra" class="blind">출루율</span></strong>
                    
                </div>
            </th>
            <th>
                <div class="slugging">
                   
                        <strong><span id="regularTeamRecordList_lra" class="blind">장타율</span></strong>
                   
                </div>
            </th>
            <th>
                <div class="lately">
                    
                        <strong><span id="regularTeamRecordList_recentResult" class="blind">최근 10경기</span></strong>
                    
                </div>
            </th>
        </tr>
        </thead>
	</table>
</div>
<table cellspacing="0" cellpadding="0" border="1">
        <caption>팀별순위 테이블</caption>
        <thead>
        <tr>
            <th>
                <div class="rank">
                    <strong><span class="blind">순위</span></strong>
                </div>
            </th>
            <th>
                <div class="team">
                    <strong><span class="blind">팀</span></strong>
                </div>
            </th>
            <th>
                <div class="gcnt_s">
                   	<strong id="regularTeamRecordList_gameCount"><span class="blind">경기수</span></strong>
                </div>
            </th>
            <th>
                <div class="wpnt">
                    <strong id="regularTeamRecordList_won"><span class="blind">승</span></strong>
                </div>
            </th>
            <th>
                <div class="lpnt">
                    <strong id="regularTeamRecordList_lost"><span class="blind">패</span></strong>
                </div>
            </th>
            <th>
                <div class="dpnt">
                    <strong id="regularTeamRecordList_drawn"><span class="blind">무</span></strong>
                </div>
            </th>
            <th>
                <div class="wnrt">
                    
                        <strong class="sort"><span id="regularTeamRecordList_wra" class="blind">승률</span></strong>
                   
                </div>
            </th>
            <th>
                <div class="wlpnt">
                    
                        <strong><span id="regularTeamRecordList_winDiff" class="blind">게임차</span></strong>
                   
                </div>
            </th>
            <th>
                <div class="streak">
                   
                        <strong><span id="regularTeamRecordList_streak" class="blind">연속</span></strong>
                    
                </div>
            </th>
            <th>
                <div class="onbase">
                    
                        <strong><span id="regularTeamRecordList_bra" class="blind">출루율</span></strong>
                    
                </div>
            </th>
            <th>
                <div class="slugging">
                   
                        <strong><span id="regularTeamRecordList_lra" class="blind">장타율</span></strong>
                   
                </div>
            </th>
            <th>
                <div class="lately">
                    
                        <strong><span id="regularTeamRecordList_recentResult" class="blind">최근 10경기</span></strong>
                    
                </div>
            </th>
        </tr>
        </thead>
        <tbody id="regularTeamRecordList_table">
        {%for team in data%}
            <tr>
                <th><strong>{{team['id']}}</strong></th>
                <td class="tm">
                    <div>
                        <span id="team_HT">{{team['name']}}</span>
                    </div>
                </td>
                <td><span>{{team['play']}}</span></td>
                <td><span>{{team['w']}}</span></td>
                <td><span>{{team['l']}}</span></td>
                <td><span>{{team['d']}}</span></td>
                <td><strong>{{team['win']}}</strong></td>
                <td><span>{{team['etc1']}}</span></td>
                <td><span>{{team['etc2']}}</span></td>
                <td><span>{{team['etc3']}}</span></td>
                <td><span>{{team['etc4']}}</span></td>
                <td class="last"><span>{{team['etc5']}}</span></td>
            </tr>
{%endfor%}
        </tbody>
</table>

</body>
</html>